# IDE & Android Studio
*.iml
**/*.iml


# Build-Artefakte & Caches
/app/build/
/app/release/
/captures/
.cxx/
.externalNativeBuild/
.gradle/
.kotlin/
build/
release/


# Output-Dateien
*.apk
*.aab
*.dex


# Lokale Konfigurationen & Secrets
REPOS.md
local.properties
.env
.diff


# Keystores & Schlüssel
keystore/
debug.keystore
*.jks
*.keystore


# Betriebssystem-Dateien
.DS_Store
Thumbs.db